/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230vh;
    background-image: url('.//imagens/fundo-1.png'); /* Adicione a URL da sua imagem de fundo */
    background-size: cover;
    background-position: center;
}


/* Container do formulário */
#formulario {
    background-color: rgba(255, 255, 255, 0.5); /* Fundo semi-transparente */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

/* Títulos */
h1 {
    font-family: inherit;
    font-size: 2.5em;
    margin: 0 0 0px;
    color: #333;
    text-align: center;
    text-shadow: 10px 12px 4px rgba(0, 0, 0, 0.2)
    
}
 h3 {
    font-family: inherit;
    font-size: 1em;
    margin: 0 0 30px;
    color: #333;
    text-align: center;
    /*text-shadow: 10px 12px 4px rgba(0, 0, 0, 0.2);*/
}

h1 {
    background-image: url('https://live.staticflickr.com/65535/53750011084_7e7dd59dae_b.jpg'); /* Adicione a URL da imagem do título */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0; /* Ajuste o padding conforme necessário */
    /* opacity: 0.5;  Ajuste a opacidade conforme necessário */
}

/* Estilo dos rótulos  categoria */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;

}

/* Estilo dos campos de entrada e seleções */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Estilo dos checkboxes */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Campo de termos de uso */
.campo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilo do botão de envio */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;

}

/* Ajuste adicional para categorias */
input[type="checkbox"] + label {
    margin-right: 20px;
}
